body {
  background-color: #f0f4f7;
}

.loading {
  position: fixed;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#list {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  overflow: auto;
  bottom: 0;
  display:none;
}

#list img { max-width: 100px; }



#details {position: absolute;left: 300px;right: 80px;}
#details img {max-width: 250px}
#details li {display: inline-block; margin-left: 7px}


.wrapper-buttons {
  align-items:center;
  box-sizing:border-box;
  color:rgb(66, 66, 66);
  cursor:default;
  display:flex;
  font-family:ProximaNova, sans-serif;
  font-size:16px;
  height:102px;
  justify-content:space-around;
  line-height:21px;
  margin-left:0px;
  margin-right:0px;
  padding-bottom:16px;
  padding-left:8px;
  padding-right:8px;
  padding-top:16px;
  position:relative;
  text-rendering:optimizeLegibility;
  text-size-adjust:100%;
  user-select:none;
  width:375px;
  word-wrap:break-word;
  -webkit-box-align:center;
  -webkit-box-direction:normal;
  -webkit-box-pack:center;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.wrapper-buttons > button {
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(186, 186, 186);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(209, 209, 209);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(209, 209, 209);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(216, 216, 216);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(213, 218, 224, 0.3) 0px 4px 9px 0px;
  box-sizing: border-box;
  color: rgb(66, 66, 66);
  cursor: pointer;
  display: block;
  font-family: ProximaNova, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  height: 60px;
  letter-spacing: 0.32px;
  line-height: 21px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
  transition-property: transform, filter, opacity, -webkit-transform, -webkit-filter;
  transition-timing-function: ease, ease, ease, ease, ease;
  user-select: none;
  width: 60px;
  will-change: transform;
  word-spacing: 0px;
  word-wrap: break-word;
  writing-mode: horizontal-tb;
  z-index: 0;
  -webkit-appearance: none;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-border-image: none;
}

.wrapper-buttons > button > span {
  box-sizing: border-box;
  color: rgb(66, 66, 66);
  cursor: pointer;
  display: inline;
  font-family: ProximaNova, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.32px;
  line-height: 21px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
  user-select: none;
  width: auto;
  word-spacing: 0px;
  word-wrap: break-word;
  writing-mode: horizontal-tb;
  z-index: 1;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button__text-dislike svg {
  transform: scale(1);
}
.button__text-superlike svg {
  transform: scale(.45);
}
.button__text-like svg {
  transform: scale(.8);
}
