<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tinder Hack</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/assets/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div id="loading" class="loading"></div>
  {{{content}}}
  <script src="/assets/js/app.js"></script>
</body>
</html>
